*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
*.cmake
*.xml

object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

target_wrapper.*

*.autosave

*.qmlproject.user
*.qmlproject.user.*

CMakeLists.txt.user*

compile_commands.json

*creator.user*

*_qmlcache.qrc

/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
.cmake/
.idea/
.qtcreator/
Testing/
dayofweek

/dayofweek_autogen/
